// cullahs
$c-blue: hsl(218, 71%, 53%);
$c-primary: $c-blue;
$c-adopted: #48d14f;
$c-text: #000;
$c-side-bar-head: #eee;


// Measurements
$m-max-width: 60rem;
$m-gutter: 1rem;

.nav {
  margin-bottom: 1rem;
  background-color: $c-primary;

  &-left {
    padding-left: 1rem;
  }

  .nav-right {
    display: flex;

  }

  a.nav-item,
  .nav-item a {
    color: $white-bis;
  }
}
