// @import 'yoga';
// @import 'normalize';

// What did I do by uncommenting this?
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

@import 'bulma';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';

// cullahs
$c-blue: hsl(218, 71%, 53%);
$c-primary: $c-blue;
$c-adopted: #48d14f;
$c-text: #000;
$c-side-bar-head: #ddd;


// Measurements
$m-max-width: 60rem;
$m-gutter: 1rem;



.nav {
  background-color: $c-primary;

  a.nav-item,
  .nav-item a {
    color: $white-bis;
  }
}

.nav-right {
  display: flex;
  padding-left: 1rem;
}

.router-link {
  color: white;
}

.is-brand {
  font-size: 1.2rem;
  font-weight: normal;

}

.container {
  max-width: 60rem;
}

.panel-block {

  &__img {

  }
}
.panel-block__info {
  color: $c-primary;
}

.panel-heading {
  background-color: $c-side-bar-head;
}

.main-section__head {
  display: flex;
}

.main-section__title {
  font-size: 2rem;
}

.main-section__button {
  border: 0;
  background: $c-primary;
}

.table-head {
  font-weight: normal;
}
